.container {
  margin-left: 2%;
  margin-bottom: 2%;
  padding-top: 2%;
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.container .konten {
  background-color: rgba(240, 248, 255, 0.842);
  /* width: 200px; */
  border-radius: 5%;
  margin-left: 30px;
  margin-bottom: 30px;
}
.container .konten .title {
  text-align: center;
  font-size: x-large;
}
.form-buy {
  margin-bottom: 30px;
}
.tagihan {
  margin: 20px;
  flex-direction: row;
  justify-content: space-between;
}
.cont {
  margin: 20px;
}
.txt1 {
  margin-left: 10px;
  padding: 5px;
}
.tst2 {
  text-align: right;
  margin-right: 10px;
}
.bk {
  background-color: grey;
  border-radius: 5px;
}
.title {
  margin: 5px;
}
.subTitles {
  text-align: right;
  margin: 5px;
}
.titless {
  font-size: 25px;
  margin-left: 30px;
}
